<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name="com.fadcam.effects.SportEffectsBootstrapProvider"
            android:authorities="${applicationId}.sporteffects.init"
            android:exported="false"
            android:initOrder="90" />
    </application>
</manifest>
